.open-cart-popup {
  opacity: 1;
  width: 400px;
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);

  z-index: 99999999;
}
.close-cart-popup {
  opacity: 0;
  clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
  z-index: 0;
}

@media (max-width: 767px) {
  .open-cart-popup {
    width: 100%;
  }
}
