.linearBg {
  background: linear-gradient(-45deg, #a2c675, #346b1b, #0c210d, #3ba55d);
  background-size: 400% 400%;
  width: 100%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
