/* Start Product Styles */

.product_container {
  padding: 15px 0px 15px 0px;
}
.one_product_info {
  display: flex;
  gap: 15px;
}

.one_product_info .image {
  width: 50%;
}

.product_container :global(.swiper-wrapper) {
  margin-bottom: 50px !important;
}
.all_colors {
  display: flex;
  gap: 6px;
}
.all_colors span {
  width: 13px !important;
  height: 13px !important;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border: 1px solid white;
}

.one_product_info .card_image {
  width: 100%;
  aspect-ratio: 1/0.8;
  object-fit: cover;
  object-position: top;
}

.one_product_info .desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}
.one_product_info .desc .product_category {
  font-size: 12px;
  color: #737373;
}
.one_product_info .desc h3 {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
}
.one_product_info .desc .size {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.one_product_info .desc .size p {
  font-size: 12px;
}
.one_product_info .desc .size div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.one_product_info .desc .size span {
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 4px;
  background-color: black;
  color: white;
}

/* Custom styles for buttons */

.add_to_buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.add_to_cart {
  background-color: #0c6447;
  width: 100%;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add_to_cart:hover {
  background-color: #064e36;
  transform: translateY(-3px);
}

.add_to_cart:active {
  background-color: #064e36;
  transform: translateY(1px);
}

.one_product_info .desc .color {
  font-size: 12px;
}
@media (min-width: 1500px) {
  .add_to_buttons {
    margin-top: 70px;
  }
}
@media (max-width: 767px) {
  .product_container :global(.swiper-wrapper) {
    margin-bottom: 40px !important;
  }
  .product_container {
    padding: 15px 10px;
  }
  .one_product_info .desc {
    margin: 0px 0;
  }
  .add_to_buttons {
    flex-direction: column;
  }
  .add_to_cart {
    width: 100%;
  }

  .one_product_info {
    flex-direction: column;
  }

  .one_product_info .image {
    width: 100%;
  }

  .one_product_info .card_image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .one_product_info .desc {
    width: 100%;
  }
  .one_product_info .desc h3 {
    font-size: 18px;
  }
}

/* Start About Product Styles */

.about_product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.politics {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.politics .shipping {
  display: flex;
  align-items: center;
  gap: 20px;
}
.politics .shipping_desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.politics .easy_return {
  display: flex;
  align-items: center;
  gap: 20px;
}
.politics i {
  color: var(--main-color);
}
.return_desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.politics h4 {
  font-size: 14px;
  font-weight: 600;
}
.politics p {
  font-size: 12px;
}
.about-style {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-style h3 {
  font-size: 16px;
  font-weight: 700;
}
.about-style p {
  font-size: 14px;
  line-height: 21px;
}
.care {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.care h3 {
  font-size: 14px;
  font-weight: 600;
}
.care p {
  font-size: 14px;
  max-width: 600px;
  line-height: 21px;
}

@media (max-width: 1024px) {
  .about-product {
    align-items: start;
    flex-direction: column;
  }
  .politics {
    width: 100%;
    margin-bottom: 20px;
  }
  .politics p {
    line-height: 21px;
    text-align: justify;
  }
  .about-style {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
  .about-style h3 {
    font-weight: 700;
  }
  .about-style p {
    text-align: justify;
  }
  .care {
    padding: 0 15px;
  }
  .care h3 {
    font-size: 14px;
    font-weight: 700;
  }
  .care p {
    font-size: 14px;
    max-width: 600px;
    line-height: 21px;
    text-align: justify;
  }
}
/* Start More To Love Styles */

.more-to-love {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
  margin: 30px 0;
}
.product {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  cursor: pointer;
  position: relative;
}
.view-info {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  top: 0;
  left: 0;
  transition: all 0.7s;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.view-info button {
  background-color: white;
  padding: 8px 0;
}
.product img {
  width: 100%;
  object-fit: cover;
}
.product:hover .view-info {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}
.more-to-love .product-desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.swiper-slide,
.swiper-slide-active {
  width: calc(20% - 13px) !important;
}

.swiper-pagination,
.swiper-pagination-clickable,
.swiper-pagination-bullets,
.swiper-pagination-horizontal,
.swiper-pagination-lock {
  margin-bottom: 20px;
}
@media (min-width: 1220px) {
  .more-to-love {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (min-width: 1550px) {
  .more-to-love {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
@media (min-width: 1750px) {
  .more-to-love {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(530px, 1fr));
  }
}
@media (max-width: 1024px) {
  .more-to-love {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 15px;
  }
  .more-to-love .product {
    width: 100%;
  }
  .product img {
    aspect-ratio: 1/1;
  }
  .swiper-slide,
  .swiper-slide-active {
    width: calc(25% - 9px) !important;
  }
}

/* product slider styles */

.image {
  width: 99%;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .wraper {
    /* aspect-ratio: 1/0.5; */
  }
}
@media (max-width: 767px) {
  .wraper {
    /* aspect-ratio: 1/1.1; */
  }
  .swiper-slide {
    opacity: 0;
    transition: all 0.5s;
  }
  .best_seller :global(.swiper-slide) {
    width: calc(100% - 9px) !important;
  }
  .swiper-slide-active {
    opacity: 1;
  }
}
@media (max-width: 550px) {
  .wraper {
    /* aspect-ratio: 1/1.2; */
  }
}
