.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 25px;
  margin-top: 50px;
}
.category .carts-container {
  width: 100%;
  display: flex;
  gap: 15px;
}
.category .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: calc(100% / 5);
}
.category .cart div {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1.25;
}
.category .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .category {
    padding: 0 10px;
  }
  .category .carts-container {
    flex-wrap: wrap;
    row-gap: 25px;
  }
  .category .cart {
    width: calc((100% / 3) - 10px);
  }
}

@media (max-width: 500px) {
  .category .carts-container {
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .category .cart {
    width: calc((100% / 2) - 7.5px);
  }
}
