li {
  padding: 12px;
  font-weight: 500;
}
.links li {
  position: relative;
  height: 100%;
  /* padding: 12px; */
}

.links li:hover {
  text-shadow: 0px 0px 0.5px black;
}

.logo {
  line-height: 53px;
  letter-spacing: 2.5px;
}
.read-button {
  line-height: 31px;
  letter-spacing: 1.1px;
}
@media (max-width: 1023px) {
  .links-holder {
    background-color: rgb(255, 255, 255);
    left: -4px;
    top: 86px;
    width: 100%;
    position: fixed;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    border-radius: 0 8px 8px 0;
  }
}

@media (min-width: 1025px) {
  .navbar-bar {
    display: none;
  }
}
